
.block-a {
    width: 100%;
    height: 400px;
    background-color: lightblue; 
    position: relative;
}


.block-a p {
    color: blue;
    margin-left: 10px;
}


.block-b {
    width: 400px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%); 
}


.block-c {
    width: 110px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: calc(50% + 200px); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border: 1px solid black; 
}


.block-d {
    width: 80px;
    height: 20px;
    background-color: white;
    position: fixed; 
    bottom: 20px;
    left: 20px;
    border: 1px solid black;
    text-align: center;
}
